* {
	box-sizing: border-box;
}

#header-nav {
	border-radius: 0;
	border: 0;
	background-color: #B1BD0F;
}

#collapsable-nav {
	background-color: #6DDEB8;
}

#maincontent-sub {
	background-color: #6A9AC4;
	padding: 20px;
}

nav.navbar-default div.container section.navbar-header h1 {
	float: left;
	margin-top: 0;
}