* {
	box-sizing: border-box;
}

#header-nav {
	border-radius: 0;
	border: 0;
	background-color: #B1BD0F;
}

#collapsable-nav {
	background-color: #6DDEB8;
	width: 100%;
	margin-right: 0;
}

#maincontent-sub {
	background-color: #6A9AC4;
	padding: 20px;
}